<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbi.step08customview" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name="com.hbi.step08customview.WearActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hbi.step08customview.SubActivity"
            android:label="@string/title_activity_sub" >
        </activity>
        <activity
            android:name="com.hbi.step08customview.TouchActivity"
            android:label="@string/title_activity_touch" >
        </activity>
    </application>

</manifest>
